{% extends 'admin_base.html' %}
{% load replace_filter %}
{% block title %}
<title>ban page</title>
{% endblock %}
{%block head%}
<center>
    <h1>服务器IP封禁名单</h1>
</center>
{%endblock%}
{% block main %}
<table class="table" align="center" border="1" style="border-collapse: collapse;">
    <hr>
    <tr>
        <td width="150px" height="30px" align="center">IP地址</td>
        <td width="150px" height="30px" align="center">地理位置</td>
        <td width="70px" height="30px" align="center">操作</td>
        <td width="70px" height="30px" align="center">操作结果</td>
    </tr>
    {% if ban_len != 0 %}
    {% for i in ban %}
    <tr id="{{forloop.counter0}}">
        <td class="ip" width="150px" height="30px" align="center">{{i}}</td>
        <td class="location" width="150px" height="30px" align="center">
            <button onclick="getLocation('{{forloop.counter0}}')">查询</button>
        </td>
        <td width="70px" height="30px" align="center">
            <button class="banBtn" onclick="sendCmd('{{server_name}}', '{{forloop.counter0}}')">解封</button>
        </td>
        <td align="center">
            <font class="msg">无</font>
        </td>
    </tr>
    {% endfor %}
    {% else %}
    <tr rowspan="5" align="center" height="150px">
        <td colspan="7" align="center" height="150px" style="font-size: 30px">数据为空</td>
    </tr>
    {% endif %}
    <tbody id="trAdd">
    </tbody>
</table>
<hr>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/log_ban.js"></script>
{% endblock %}