{% extends 'base.html' %}
{% block title %}
<title>regist page</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/static/css/regist.css">
{% endblock %}
{% block main %}
<center>
    <h1>用户注册</h1>
    <hr>
</center>
<form action="/regist_deal/" method="post">
    <table align="center" border="0">
        <tr>
            <td width="150px" height="30px"></td>
            <td width="120px" height="30px"><label for="name">用户名：</label></td>
            <td width="180px" height="30px" align="center"><input type="text" name="name" id="name"></td>
            <td width="180px" height="30px">
                <font color="red" id="judgeName" class="judge">用户名已存在</font>
            </td>
        </tr>
        <tr>
            <td width="150px" height="30px"></td>
            <td width="120px" height="30px"><label for="password">密码：</label></td>
            <td width="180px" height="30px" align="center"><input type="password" name="password" id="password"></td>
            <td></td>
        </tr>
        <tr>
            <td width="150px" height="30px"></td>
            <td width="120px" height="30px"><label for="password2">再次输入密码：</label></td>
            <td width="180px" height="30px" align="center"><input type="password" name="password2" id="password2"></td>
            <td width="180px" height="30px">
                <font color="red" id="judgePwd" class="judge">两次输入密码不一致</font>
            </td>
        </tr>
        <tr>
            <td width="150px" height="30px"></td>
            <td width="120px" height="30px"><label for="email">邮箱：</label></td>
            <td width="180px" height="30px" align="center"><input type="text" name="email" id="email"></td>
            <td width="180px" height="30px">
                <font color="red" id="judgeEmail" class="judge">邮箱已注册</font>
            </td>
        </tr>
        <tr>
            <td width="150px" height="30px"></td>
            <td width="120px" height="30px"><label for="company">所属机构：</label></td>
            <td width="180px" height="30px" align="center"><input type="text" name="company" id="company"></td>
            <td></td>
        </tr>
        <tr>
            <td width="150px" height="30px"></td>
            <td width="120px" height="30px"><label for="code">验证码：</label></td>
            <td width="180px" height="30px" align="center"><input type="text" name="code" id="code"></td>
            <td align="center"><img class="code" src="/static/img/code.png" width="180"></td>
        </tr>
        <tr>
            <td width="150px" height="30px"></td>
            <td width="120px" height="30px" align="center"><input type="submit" value="提交"></td>
            <td width="120px" height="30px"><input type="reset" value="重置"></td>
            <td></td>
        </tr>
    </table>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/regist.js"></script>
<script type="text/javascript" src="/static/js/get_code.js"></script>
{% endblock %}